.header{
  background: #1B3764;
  padding: 22px 0 22px 0;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left{
      display: flex;
      column-gap: 38px;
      align-items: center;
    }
    &__right{
      display: flex;
      align-items: center;
    }
  }
}
.header__icons{
  display: flex;
  column-gap: 10px;
}
.header__icon{
  transition: .5s;
  cursor: pointer;
  &:hover{
    transform: scale(1.5);
    transition: .5s;
  }
}
.header__links{
  display: flex;
  column-gap: 47px;
  align-items: center;
}
.header__link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.17px;
  color: #FFCA42;
  transition: .5s;
  &:hover{
    transform: scale(1.4);
    transition: .5s;
  }
}
.header__bin{
  margin: 0 51px 0 39px;
  transition: .5s;
  cursor: pointer;
  &:hover{
    transform: scale(2);
    transition: .5s;
  }
}